<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/customers/add.css">
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <div class="container">
        <h1>新增客户</h1>
        <form action="/customers/add_cus" method="post">
            <div class="item">
                <label for="">姓名</label>
                <input type="text" name="cname" placeholder="姓名">
            </div>
            <div class="item">
                <label for="">电话</label>
                <input type="text" placeholder="电话" name="tel">
            </div>
            <div class="item">
                <label for="">生日</label>
                <input type="date" name="birthday" placeholder="生日">
            </div>
            <div class="item">
                <label for="">性别</label>
                <input type="text" name="gender" placeholder="性别">
            </div>
            <div class="item">
                <label for="">地址</label>
                <input type="text" name="address" placeholder="地址">
            </div>
            <div class="item">
                <input type="submit" value="提交">
            </div>
        </form>
    </div>
</body>
</html>