<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/customers/list.css">
</head>
<body>
    <div class="container">
        <h1>客户管理</h1>
        <div class="header">
            <div>
                <a href="/customers/add">新建客户</a>
            </div>
            <div class="search">
                <form action="/customers/search" method="post">
                    <input type="text" placeholder="请输入查询的客户姓名" name="cname">
                    <input type="text" placeholder="请输入查询的客户号码" name="tel">
                    <input type="submit" placeholder="查询">
                </form>
            </div>
        </div>
        <div class="main">
            <div class="item">
                <div>ID</div>
                <div>姓名</div>
                <div>电话</div>
                <div>生日</div>
                <div>性别</div>
                <div>地址</div>
                <div></div>
            </div>
            {% for item in customers %}
            <div class="item">
                <div>{{item["id"]}}</div>
                <div>{{item["cname"]}}</div>
                <div>{{item["tel"]}}</div>
                <div>{{item["birthday"]}}</div>
                <div>{{item["gender"]}}</div>
                <div>{{item["address"]}}</div>
                <div>
                    <a href="/customers/chakan1?id={{item['id']}}">查看</a>
                    <a href="/customers/bianji1?id={{item['id']}}">编辑</a>
                    <a href="/customers/shanchu1?id={{item['id']}}" class="btn_del">删除</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
<script src="/static/base.js"></script>
<script>
    var btns = document.getElementsByClassName("btn_del");
    for(var i=0;i<btns.length;i++){
        btns[i].onclick = function(){
            var flag = window.confirm("确定删除吗？");
            if(!flag)
                return false;
        }
    }
</script>