<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/users/userslist.css">
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <div class="container">
        <h1>用户管理</h1>
        <div id="message">
            {% for message in get_flashed_messages() %}
            <div>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        <div class="header">
            <div>
                <a href="/register">新建用户</a>
            </div>
            <div class="search">
                <form action="/search" method="POST">
                    <input type="text" placeholder="请输入查询的用户姓名" name="username">
                    <input type="submit" value="查询">
                </form>
            </div>
        </div>
        <div class="main">
            <div class="item">
                <div>ID</div>
                <div>用户名</div>
                <div>用户头像</div>
                <div>性别</div>
                <div>联系方式</div>
                <div>租住地</div>
                <div>角色</div>
                <div>操作</div>
            </div>
            {% for item in users %}
            <div class="item">
                <div>{{item["id"]}}</div>
                <div>{{item["username"]}}</div>
                <div>
                    <img src="{{item['avator']}}" alt="">
                </div>
                <div>{{item["gender"]}}</div>
                <div>{{item["tel"]}}</div>
                <div>{{item["city"]}}</div>
                {% if item["role"] == 1 %}
                    <div>管理员</div>
                {% elif item["role"] == 2 %}
                    <div>用户</div>
                {% endif %}
                <div>
                    <a href="/view?id={{item['id']}}">查看</a>
                    <a href="/edit?id={{item['id']}}">编辑</a>
                    <a href="/del?id={{item['id']}}" class="btn_del">删除</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
<script src="/static/base.js"></script>
<script>
    var btns = document.getElementsByClassName("btn_del");
    // 按钮点击事件
    for(var i = 0; i < btns.length; i++)
    {
        btns[i].onclick = function()
        {
            var flag = window.confirm("确认删除吗？");
            if(!flag)
                return false;
        }
    };
</script>
</html>
