<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/news.css">
</head>
<body>
    <div class="contain">
        <h1>今日说法</h1>
        <hr>
        <div class="show">
            <div class="sshow">
                <img class="news" src="http://bd.xitong18.com/style/images/tmall.png"/>
                <div class="exp">天猫来咯</div>
            </div>
            <div class="sshow">
                <img class="news" src="http://bd.xitong18.com/style/images/jdlogo.png"/>
                <div class="exp">京东来咯</div>
            </div>
            <div class="sshow">
                <img class="news" src="http://bd.xitong18.com/style/images/360safe.png"/>
                <div class="exp">360来咯</div>
            </div>
            <div class="sshow">
                <img class="news" src="http://bd.xitong18.com/style/images/steam.jpg"/>
                <div class="exp">盗版steam来咯</div>
            </div>
        </div>
    </div>

</body>
</html>