#message{
    width:500px;
    position:fixed;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
}

.container{
    width:1200px;
    margin: 0 auto;
}

*{
    margin:0px;
    padding: 0px;
}